.user-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.user-card img {
  border-radius: 50%;
  flex: none;
}
.button--secondary {
  background: var(--secondary);
}
.button--small {
  padding: 0.4rem 0.7rem;
}
.button--large {
  padding: 1rem 1.5rem;
}
.card {
  padding: 1rem;
  border: 1px solid var(--border);
  margin-block: 1rem;
  border-radius: 8px;
}
